In [4]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [5]:
frame

               b         d         e
Utah   -0.345071  0.140678 -1.029075
Ohio    0.126158  0.625095  0.670850
Texas   0.838697 -0.964097  1.807187
Oregon  0.072480 -0.504732  0.008113

In [8]:
frame.apply(lambda x: x.max() - x.min(), axis=1)

Utah      1.169753
Ohio      0.544692
Texas     2.771284
Oregon    0.577211
dtype: float64