In [4]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [5]:
frame

               b         d         e
Utah   -0.345071  0.140678 -1.029075
Ohio    0.126158  0.625095  0.670850
Texas   0.838697 -0.964097  1.807187
Oregon  0.072480 -0.504732  0.008113

In [8]:
frame.apply(lambda x: x.max() - x.min(), axis=1)

Utah      1.169753
Ohio      0.544692
Texas     2.771284
Oregon    0.577211
dtype: float64

In [11]:
frame.shape

(4, 3)

In [12]:
frame.index

Index([u'Utah', u'Ohio', u'Texas', u'Oregon'], dtype='object')

In [13]:
frame.columns

Index([u'b', u'd', u'e'], dtype='object')

In [14]:
frame.values

array([[-0.34507079,  0.14067826, -1.02907503],
       [ 0.12615793,  0.6250946 ,  0.67084976],
       [ 0.83869743, -0.96409665,  1.80718709],
       [ 0.07247961, -0.50473175,  0.00811282]])