In [77]:
import pickle
import pandas as pd
import numpy as np

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [25]:
print "len enron_data: ", len(enron_data)

len enron_data:  146

In [53]:
pd_enron_data1 = pd.DataFrame.from_dict(enron_data, orient='index')

# print "features_of_enron_data: ", len(pd_enron_data)

In [54]:
pd_enron_data1.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
ALLEN PHILLIP K,201955,2902,2869717,4484442,1729541,4175000,126027,1407,-126027,1729541,...,NaN,2195,152,65,False,NaN,-3081055,304805,phillip.allen@enron.com,47
BADUM JAMES P,NaN,NaN,178980,182466,257817,NaN,NaN,NaN,NaN,257817,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477,566,NaN,916197,4046157,NaN,1757552,465,-560222,5243487,...,NaN,29,864523,0,False,NaN,-5104,NaN,james.bannantine@enron.com,39
BAXTER JOHN C,267102,NaN,1295738,5634343,6680544,1200000,3942714,NaN,NaN,10623258,...,NaN,NaN,2660303,NaN,False,NaN,-1386055,1586055,NaN,NaN
BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,145796,NaN,-82782,63014,...,NaN,NaN,69,NaN,False,NaN,-201641,NaN,frank.bay@enron.com,NaN

In [72]:
pd_enron_data1[pd_enron_data1['poi'] == True]

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
BELDEN TIMOTHY N,213999,7991,2144013,5501630,953136,5249999,157569,5521,NaN,1110705,...,NaN,484,210698,108,True,NaN,-2334434,NaN,tim.belden@enron.com,228
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,252055,1593,NaN,252055,...,NaN,27,1621,15,True,NaN,-833,974293,raymond.bowen@enron.com,140
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,126027,2188,NaN,126027,...,NaN,144,486,25,True,NaN,-262500,375304,christopher.calger@enron.com,199
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,2502063,1585,NaN,2502063,...,NaN,49,307895,12,True,NaN,-235000,350000,richard.causey@enron.com,58
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,698242,1132,NaN,698242,...,NaN,40,101740,11,True,NaN,-144062,NaN,wes.colwell@enron.com,240
DELAINEY DAVID W,365163,3093,NaN,4747979,2291113,3000000,1323148,2097,NaN,3614261,...,NaN,3069,1661,609,True,NaN,NaN,1294981,david.delainey@enron.com,66
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,1794412,NaN,NaN,1794412,...,NaN,NaN,277464,NaN,True,NaN,-1386055,1736055,andrew.fastow@enron.com,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,384728,600000,393818,874,NaN,778546,...,NaN,16,200308,6,True,NaN,NaN,71023,ben.glisan@enron.com,52
HANNON KEVIN P,243293,1045,NaN,288682,5538001,1500000,853064,1035,NaN,6391065,...,NaN,32,11350,21,True,NaN,-3117011,1617011,kevin.hannon@enron.com,32
HIRKO JOSEPH,NaN,NaN,10259,91093,30766064,NaN,NaN,NaN,NaN,30766064,...,NaN,NaN,2856,NaN,True,NaN,NaN,NaN,joe.hirko@enron.com,NaN
KOENIG MARK E,309946,2374,NaN,1587421,671737,700000,1248318,2271,NaN,1920055,...,NaN,61,150458,15,True,NaN,NaN,300000,mark.koenig@enron.com,53
KOPPER MICHAEL J,224305,NaN,NaN,2652612,NaN,800000,985032,NaN,NaN,985032,...,NaN,NaN,907502,NaN,True,NaN,NaN,602671,michael.kopper@enron.com,NaN
LAY KENNETH L,1072321,4273,202911,103559793,34348384,7000000,14761694,2411,NaN,49110078,...,81525000,36,10359729,16,True,NaN,-300000,3600000,kenneth.lay@enron.com,123
RICE KENNETH D,420636,905,NaN,505050,19794175,1750000,2748364,864,NaN,22542539,...,NaN,18,174839,4,True,NaN,-3504386,1617011,ken.rice@enron.com,42
RIEKER PAULA H,249201,1328,214678,1099100,1635238,700000,283649,1258,NaN,1918887,...,NaN,82,1950,48,True,NaN,-100000,NaN,paula.rieker@enron.com,35
SHELBY REX,211844,225,NaN,2003885,1624396,200000,869220,91,NaN,2493616,...,NaN,39,1573324,14,True,NaN,-4167,NaN,rex.shelby@enron.com,13
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN

In [75]:
# pd_enron_data1.plot(x="salary", y=["salary"])

In [55]:
pd_enron_data2 = pd.DataFrame(enron_data)

In [56]:
pd_enron_data2

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN
exercised_stock_options,1729541,257817,4046157,6680544,NaN,1599641,NaN,953136,3285,1624396,...,1668260,NaN,98718,3282960,1297049,NaN,NaN,139130,8308552,192758
expenses,13868,3486,56301,11200,129142,NaN,37172,17355,NaN,11892,...,NaN,51870,NaN,57838,81353,1413,NaN,NaN,53947,55097
from_messages,2195,NaN,29,NaN,NaN,NaN,4343,484,NaN,NaN,...,30,NaN,NaN,556,NaN,NaN,NaN,NaN,NaN,NaN
from_poi_to_this_person,47,NaN,39,NaN,NaN,NaN,144,228,NaN,NaN,...,22,NaN,NaN,186,NaN,NaN,NaN,NaN,NaN,NaN
from_this_person_to_poi,65,NaN,0,NaN,NaN,NaN,386,108,NaN,NaN,...,7,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN
loan_advances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
long_term_incentive,304805,NaN,NaN,1586055,NaN,93750,NaN,NaN,NaN,NaN,...,200000,256191,NaN,808346,NaN,NaN,NaN,NaN,NaN,NaN
other,152,NaN,864523,2660303,69,874,566,210698,NaN,NaN,...,1425,401130,NaN,301026,1085463,NaN,189583,NaN,147950,NaN
poi,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
restricted_stock,126027,NaN,1757552,3942714,145796,NaN,126027,157569,NaN,869220,...,388167,384930,NaN,2796177,13847074,NaN,NaN,NaN,3576206,NaN
restricted_stock_deferred,-126027,NaN,-560222,NaN,-82782,NaN,NaN,NaN,44093,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
salary,201955,NaN,477,267102,239671,80818,231330,213999,NaN,216582,...,259996,63744,NaN,510364,317543,NaN,NaN,NaN,158403,NaN
shared_receipt_with_poi,1407,NaN,465,NaN,NaN,NaN,2639,5521,NaN,NaN,...,337,NaN,NaN,3920,NaN,NaN,NaN,NaN,NaN,NaN
to_messages,2902,NaN,566,NaN,NaN,NaN,7315,7991,NaN,NaN,...,400,NaN,NaN,6019,NaN,NaN,NaN,NaN,NaN,NaN
total_payments,4484442,182466,916197,5634343,827696,860136,969068,5501630,102500,228474,...,1034395,762135,NaN,4677574,1934359,84992,189583,NaN,360300,55097
total_stock_value,1729541,257817,5243487,10623258,63014,1599641,126027,1110705,-44093,2493616,...,2056427,384930,98718,6079137,15144123,NaN,NaN,139130,11884758,192758

In [57]:
pd_enron_data2['ALLEN PHILLIP K']['salary']

201955

In [59]:
pd_enron_data2['ALLEN PHILLIP K']

bonus                                        4175000
deferral_payments                            2869717
deferred_income                             -3081055
director_fees                                    NaN
email_address                phillip.allen@enron.com
exercised_stock_options                      1729541
expenses                                       13868
from_messages                                   2195
from_poi_to_this_person                           47
from_this_person_to_poi                           65
loan_advances                                    NaN
long_term_incentive                           304805
other                                            152
poi                                            False
restricted_stock                              126027
restricted_stock_deferred                    -126027
salary                                        201955
shared_receipt_with_poi                         1407
to_messages                                     2902
total_payments                               4484442
total_stock_value                            1729541
Name: ALLEN PHILLIP K, dtype: object

In [79]:
poi_data = np.loadtxt("../final_project/poi_names.txt")

ValueError: could not convert string to float: http://usatoday30.usatoday.com/money/industries/energy/2005-12-28-enron-participants_x.htm