In [1]:
import pickle
import pandas as pd
import numpy as np

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [2]:
print "len enron_data: ", len(enron_data)

len enron_data:  146

In [3]:
pd_enron_data1 = pd.DataFrame.from_dict(enron_data, orient='index')

# print "features_of_enron_data: ", len(pd_enron_data)

In [4]:
pd_enron_data1.head()

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
ALLEN PHILLIP K,201955,2902,2869717,4484442,1729541,4175000,126027,1407,-126027,1729541,...,NaN,2195,152,65,False,NaN,-3081055,304805,phillip.allen@enron.com,47
BADUM JAMES P,NaN,NaN,178980,182466,257817,NaN,NaN,NaN,NaN,257817,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477,566,NaN,916197,4046157,NaN,1757552,465,-560222,5243487,...,NaN,29,864523,0,False,NaN,-5104,NaN,james.bannantine@enron.com,39
BAXTER JOHN C,267102,NaN,1295738,5634343,6680544,1200000,3942714,NaN,NaN,10623258,...,NaN,NaN,2660303,NaN,False,NaN,-1386055,1586055,NaN,NaN
BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,145796,NaN,-82782,63014,...,NaN,NaN,69,NaN,False,NaN,-201641,NaN,frank.bay@enron.com,NaN

In [5]:
pd_enron_data1[pd_enron_data1['poi'] == True]

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
BELDEN TIMOTHY N,213999,7991,2144013,5501630,953136,5249999,157569,5521,NaN,1110705,...,NaN,484,210698,108,True,NaN,-2334434,NaN,tim.belden@enron.com,228
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,252055,1593,NaN,252055,...,NaN,27,1621,15,True,NaN,-833,974293,raymond.bowen@enron.com,140
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,126027,2188,NaN,126027,...,NaN,144,486,25,True,NaN,-262500,375304,christopher.calger@enron.com,199
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,2502063,1585,NaN,2502063,...,NaN,49,307895,12,True,NaN,-235000,350000,richard.causey@enron.com,58
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,698242,1132,NaN,698242,...,NaN,40,101740,11,True,NaN,-144062,NaN,wes.colwell@enron.com,240
DELAINEY DAVID W,365163,3093,NaN,4747979,2291113,3000000,1323148,2097,NaN,3614261,...,NaN,3069,1661,609,True,NaN,NaN,1294981,david.delainey@enron.com,66
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,1794412,NaN,NaN,1794412,...,NaN,NaN,277464,NaN,True,NaN,-1386055,1736055,andrew.fastow@enron.com,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,384728,600000,393818,874,NaN,778546,...,NaN,16,200308,6,True,NaN,NaN,71023,ben.glisan@enron.com,52
HANNON KEVIN P,243293,1045,NaN,288682,5538001,1500000,853064,1035,NaN,6391065,...,NaN,32,11350,21,True,NaN,-3117011,1617011,kevin.hannon@enron.com,32
HIRKO JOSEPH,NaN,NaN,10259,91093,30766064,NaN,NaN,NaN,NaN,30766064,...,NaN,NaN,2856,NaN,True,NaN,NaN,NaN,joe.hirko@enron.com,NaN
KOENIG MARK E,309946,2374,NaN,1587421,671737,700000,1248318,2271,NaN,1920055,...,NaN,61,150458,15,True,NaN,NaN,300000,mark.koenig@enron.com,53
KOPPER MICHAEL J,224305,NaN,NaN,2652612,NaN,800000,985032,NaN,NaN,985032,...,NaN,NaN,907502,NaN,True,NaN,NaN,602671,michael.kopper@enron.com,NaN
LAY KENNETH L,1072321,4273,202911,103559793,34348384,7000000,14761694,2411,NaN,49110078,...,81525000,36,10359729,16,True,NaN,-300000,3600000,kenneth.lay@enron.com,123
RICE KENNETH D,420636,905,NaN,505050,19794175,1750000,2748364,864,NaN,22542539,...,NaN,18,174839,4,True,NaN,-3504386,1617011,ken.rice@enron.com,42
RIEKER PAULA H,249201,1328,214678,1099100,1635238,700000,283649,1258,NaN,1918887,...,NaN,82,1950,48,True,NaN,-100000,NaN,paula.rieker@enron.com,35
SHELBY REX,211844,225,NaN,2003885,1624396,200000,869220,91,NaN,2493616,...,NaN,39,1573324,14,True,NaN,-4167,NaN,rex.shelby@enron.com,13
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN

In [6]:
# pd_enron_data1.plot(x="salary", y=["salary"])

In [7]:
pd_enron_data2 = pd.DataFrame(enron_data)

In [8]:
pd_enron_data2

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
bonus,4175000,NaN,NaN,1200000,400000,NaN,700000,5249999,NaN,NaN,...,325000,NaN,NaN,3000000,450000,NaN,NaN,NaN,NaN,NaN
deferral_payments,2869717,178980,NaN,1295738,260455,684694,NaN,2144013,-102500,NaN,...,831299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deferred_income,-3081055,NaN,-5104,-1386055,-201641,NaN,NaN,-2334434,NaN,NaN,...,-583325,-10800,NaN,NaN,NaN,-25000,NaN,NaN,NaN,NaN
director_fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3285,NaN,...,NaN,NaN,NaN,NaN,NaN,108579,NaN,NaN,NaN,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN
exercised_stock_options,1729541,257817,4046157,6680544,NaN,1599641,NaN,953136,3285,1624396,...,1668260,NaN,98718,3282960,1297049,NaN,NaN,139130,8308552,192758
expenses,13868,3486,56301,11200,129142,NaN,37172,17355,NaN,11892,...,NaN,51870,NaN,57838,81353,1413,NaN,NaN,53947,55097
from_messages,2195,NaN,29,NaN,NaN,NaN,4343,484,NaN,NaN,...,30,NaN,NaN,556,NaN,NaN,NaN,NaN,NaN,NaN
from_poi_to_this_person,47,NaN,39,NaN,NaN,NaN,144,228,NaN,NaN,...,22,NaN,NaN,186,NaN,NaN,NaN,NaN,NaN,NaN
from_this_person_to_poi,65,NaN,0,NaN,NaN,NaN,386,108,NaN,NaN,...,7,NaN,NaN,24,NaN,NaN,NaN,NaN,NaN,NaN
loan_advances,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
long_term_incentive,304805,NaN,NaN,1586055,NaN,93750,NaN,NaN,NaN,NaN,...,200000,256191,NaN,808346,NaN,NaN,NaN,NaN,NaN,NaN
other,152,NaN,864523,2660303,69,874,566,210698,NaN,NaN,...,1425,401130,NaN,301026,1085463,NaN,189583,NaN,147950,NaN
poi,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
restricted_stock,126027,NaN,1757552,3942714,145796,NaN,126027,157569,NaN,869220,...,388167,384930,NaN,2796177,13847074,NaN,NaN,NaN,3576206,NaN
restricted_stock_deferred,-126027,NaN,-560222,NaN,-82782,NaN,NaN,NaN,44093,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
salary,201955,NaN,477,267102,239671,80818,231330,213999,NaN,216582,...,259996,63744,NaN,510364,317543,NaN,NaN,NaN,158403,NaN
shared_receipt_with_poi,1407,NaN,465,NaN,NaN,NaN,2639,5521,NaN,NaN,...,337,NaN,NaN,3920,NaN,NaN,NaN,NaN,NaN,NaN
to_messages,2902,NaN,566,NaN,NaN,NaN,7315,7991,NaN,NaN,...,400,NaN,NaN,6019,NaN,NaN,NaN,NaN,NaN,NaN
total_payments,4484442,182466,916197,5634343,827696,860136,969068,5501630,102500,228474,...,1034395,762135,NaN,4677574,1934359,84992,189583,NaN,360300,55097
total_stock_value,1729541,257817,5243487,10623258,63014,1599641,126027,1110705,-44093,2493616,...,2056427,384930,98718,6079137,15144123,NaN,NaN,139130,11884758,192758

In [9]:
pd_enron_data2['ALLEN PHILLIP K']['salary']

201955

In [10]:
pd_enron_data2['ALLEN PHILLIP K']

bonus                                        4175000
deferral_payments                            2869717
deferred_income                             -3081055
director_fees                                    NaN
email_address                phillip.allen@enron.com
exercised_stock_options                      1729541
expenses                                       13868
from_messages                                   2195
from_poi_to_this_person                           47
from_this_person_to_poi                           65
loan_advances                                    NaN
long_term_incentive                           304805
other                                            152
poi                                            False
restricted_stock                              126027
restricted_stock_deferred                    -126027
salary                                        201955
shared_receipt_with_poi                         1407
to_messages                                     2902
total_payments                               4484442
total_stock_value                            1729541
Name: ALLEN PHILLIP K, dtype: object

In [11]:
pd_enron_data1['total_stock_value']['PRENTICE JAMES']

1095040

In [12]:
pd_enron_data2['COLWELL WESLEY']

bonus                                      1200000
deferral_payments                            27610
deferred_income                            -144062
director_fees                                  NaN
email_address                wes.colwell@enron.com
exercised_stock_options                        NaN
expenses                                     16514
from_messages                                   40
from_poi_to_this_person                        240
from_this_person_to_poi                         11
loan_advances                                  NaN
long_term_incentive                            NaN
other                                       101740
poi                                           True
restricted_stock                            698242
restricted_stock_deferred                      NaN
salary                                      288542
shared_receipt_with_poi                       1132
to_messages                                   1758
total_payments                             1490344
total_stock_value                           698242
Name: COLWELL WESLEY, dtype: object

In [13]:
pd_enron_data2['SKILLING JEFFREY K']['exercised_stock_options']

19250000

In [14]:
pd_enron_data2['LAY KENNETH L']

bonus                                      7000000
deferral_payments                           202911
deferred_income                            -300000
director_fees                                  NaN
email_address                kenneth.lay@enron.com
exercised_stock_options                   34348384
expenses                                     99832
from_messages                                   36
from_poi_to_this_person                        123
from_this_person_to_poi                         16
loan_advances                             81525000
long_term_incentive                        3600000
other                                     10359729
poi                                           True
restricted_stock                          14761694
restricted_stock_deferred                      NaN
salary                                     1072321
shared_receipt_with_poi                       2411
to_messages                                   4273
total_payments                           103559793
total_stock_value                         49110078
Name: LAY KENNETH L, dtype: object

In [15]:
pd_enron_data2['FASTOW ANDREW S']

bonus                                        1300000
deferral_payments                                NaN
deferred_income                             -1386055
director_fees                                    NaN
email_address                andrew.fastow@enron.com
exercised_stock_options                          NaN
expenses                                       55921
from_messages                                    NaN
from_poi_to_this_person                          NaN
from_this_person_to_poi                          NaN
loan_advances                                    NaN
long_term_incentive                          1736055
other                                         277464
poi                                             True
restricted_stock                             1794412
restricted_stock_deferred                        NaN
salary                                        440698
shared_receipt_with_poi                          NaN
to_messages                                      NaN
total_payments                               2424083
total_stock_value                            1794412
Name: FASTOW ANDREW S, dtype: object

In [16]:
pd_enron_data2.loc['total_payments', ['SKILLING JEFFREY K', 'LAY KENNETH L', 'FASTOW ANDREW S']]

SKILLING JEFFREY K      8682716
LAY KENNETH L         103559793
FASTOW ANDREW S         2424083
Name: total_payments, dtype: object

In [17]:
pd_enron_data1.dropna(axis=0, how='any')
pd_enron_data1['salary'].dropna(axis=0, how='any').count()

146

In [34]:
pd_enron_data2.loc[['salary', 'email_address'], :].dropna(axis=0, how='any')

,ALLEN PHILLIP K,BADUM JAMES P,BANNANTINE JAMES M,BAXTER JOHN C,BAY FRANKLIN R,BAZELIDES PHILIP J,BECK SALLY W,BELDEN TIMOTHY N,BELFER ROBERT,BERBERIAN DAVID,...,WASAFF GEORGE,WESTFAHL RICHARD K,WHALEY DAVID A,WHALLEY LAWRENCE G,WHITE JR THOMAS E,WINOKUR JR. HERBERT S,WODRASKA JOHN,WROBEL BRUCE,YEAGER F SCOTT,YEAP SOON
salary,201955,NaN,477,267102,239671,80818,231330,213999,NaN,216582,...,259996,63744,NaN,510364,317543,NaN,NaN,NaN,158403,NaN
email_address,phillip.allen@enron.com,NaN,james.bannantine@enron.com,NaN,frank.bay@enron.com,NaN,sally.beck@enron.com,tim.belden@enron.com,NaN,david.berberian@enron.com,...,george.wasaff@enron.com,dick.westfahl@enron.com,NaN,greg.whalley@enron.com,thomas.white@enron.com,NaN,john.wodraska@enron.com,NaN,scott.yeager@enron.com,NaN

In [28]:
pd_enron_data1.dropna(subset=['salary'], how='any')

,salary,to_messages,deferral_payments,total_payments,exercised_stock_options,bonus,restricted_stock,shared_receipt_with_poi,restricted_stock_deferred,total_stock_value,...,loan_advances,from_messages,other,from_this_person_to_poi,poi,director_fees,deferred_income,long_term_incentive,email_address,from_poi_to_this_person
ALLEN PHILLIP K,201955,2902,2869717,4484442,1729541,4175000,126027,1407,-126027,1729541,...,NaN,2195,152,65,False,NaN,-3081055,304805,phillip.allen@enron.com,47
BADUM JAMES P,NaN,NaN,178980,182466,257817,NaN,NaN,NaN,NaN,257817,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477,566,NaN,916197,4046157,NaN,1757552,465,-560222,5243487,...,NaN,29,864523,0,False,NaN,-5104,NaN,james.bannantine@enron.com,39
BAXTER JOHN C,267102,NaN,1295738,5634343,6680544,1200000,3942714,NaN,NaN,10623258,...,NaN,NaN,2660303,NaN,False,NaN,-1386055,1586055,NaN,NaN
BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,145796,NaN,-82782,63014,...,NaN,NaN,69,NaN,False,NaN,-201641,NaN,frank.bay@enron.com,NaN
BAZELIDES PHILIP J,80818,NaN,684694,860136,1599641,NaN,NaN,NaN,NaN,1599641,...,NaN,NaN,874,NaN,False,NaN,NaN,93750,NaN,NaN
BECK SALLY W,231330,7315,NaN,969068,NaN,700000,126027,2639,NaN,126027,...,NaN,4343,566,386,False,NaN,NaN,NaN,sally.beck@enron.com,144
BELDEN TIMOTHY N,213999,7991,2144013,5501630,953136,5249999,157569,5521,NaN,1110705,...,NaN,484,210698,108,True,NaN,-2334434,NaN,tim.belden@enron.com,228
BELFER ROBERT,NaN,NaN,-102500,102500,3285,NaN,NaN,NaN,44093,-44093,...,NaN,NaN,NaN,NaN,False,3285,NaN,NaN,NaN,NaN
BERBERIAN DAVID,216582,NaN,NaN,228474,1624396,NaN,869220,NaN,NaN,2493616,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,david.berberian@enron.com,NaN
BERGSIEKER RICHARD P,187922,383,NaN,618850,NaN,250000,659249,233,NaN,659249,...,NaN,59,427316,0,False,NaN,-485813,180250,rick.bergsieker@enron.com,4
BHATNAGAR SANJAY,NaN,523,NaN,15456290,2604490,NaN,-2604490,463,15456290,NaN,...,NaN,29,137864,1,False,137864,NaN,NaN,sanjay.bhatnagar@enron.com,0
BIBI PHILIPPE A,213625,1607,NaN,2047593,1465734,1000000,378082,1336,NaN,1843816,...,NaN,40,425688,8,False,NaN,NaN,369721,philippe.bibi@enron.com,23
BLACHMAN JEREMY M,248546,2475,NaN,2014835,765313,850000,189041,2326,NaN,954354,...,NaN,14,272,2,False,NaN,NaN,831809,jeremy.blachman@enron.com,25
BLAKE JR. NORMAN P,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,113784,-113784,NaN,NaN,NaN
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,252055,1593,NaN,252055,...,NaN,27,1621,15,True,NaN,-833,974293,raymond.bowen@enron.com,140
BROWN MICHAEL,NaN,1486,NaN,49288,NaN,NaN,NaN,761,NaN,NaN,...,NaN,41,NaN,1,False,NaN,NaN,NaN,michael.brown@enron.com,13
BUCHANAN HAROLD G,248017,1088,NaN,1054637,825464,500000,189041,23,NaN,1014505,...,NaN,125,1215,0,False,NaN,NaN,304805,john.buchanan@enron.com,0
BUTTS ROBERT H,261516,NaN,NaN,1271582,NaN,750000,417619,NaN,NaN,417619,...,NaN,NaN,150656,NaN,False,NaN,-75000,175000,bob.butts@enron.com,NaN
BUY RICHARD B,330546,3523,649584,2355702,2542813,900000,901657,2333,NaN,3444470,...,NaN,1053,400572,71,False,NaN,-694862,769862,rick.buy@enron.com,156
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,126027,2188,NaN,126027,...,NaN,144,486,25,True,NaN,-262500,375304,christopher.calger@enron.com,199
CARTER REBECCA C,261809,312,NaN,477557,NaN,300000,307301,196,-307301,NaN,...,NaN,15,540,7,False,NaN,-159792,75000,rebecca.carter@enron.com,29
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,2502063,1585,NaN,2502063,...,NaN,49,307895,12,True,NaN,-235000,350000,richard.causey@enron.com,58
CHAN RONNIE,NaN,NaN,NaN,NaN,NaN,NaN,32460,NaN,-32460,NaN,...,NaN,NaN,NaN,NaN,False,98784,-98784,NaN,NaN,NaN
CHRISTODOULOU DIOMEDES,NaN,NaN,NaN,NaN,5127155,NaN,950730,NaN,NaN,6077885,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,diomedes.christodoulou@enron.com,NaN
CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,662086,NaN,-472568,189518,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,698242,1132,NaN,698242,...,NaN,40,101740,11,True,NaN,-144062,NaN,wes.colwell@enron.com,240
CORDES WILLIAM R,NaN,764,NaN,NaN,651850,NaN,386335,58,NaN,1038185,...,NaN,12,NaN,0,False,NaN,NaN,NaN,bill.cordes@enron.com,10
COX DAVID,314288,102,NaN,1101393,117551,800000,378082,71,NaN,495633,...,NaN,33,494,4,False,NaN,-41250,NaN,chip.cox@enron.com,0
CUMBERLAND MICHAEL S,184899,NaN,NaN,807956,NaN,325000,207940,NaN,NaN,207940,...,NaN,NaN,713,NaN,False,NaN,NaN,275000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SHANKMAN JEFFREY A,304110,3221,NaN,3038702,1441898,2000000,630137,1730,NaN,2072035,...,NaN,2681,1191,83,False,NaN,NaN,554422,jeffrey.shankman@enron.com,94
SHAPIRO RICHARD S,269076,15149,NaN,1057548,607837,650000,379164,4527,NaN,987001,...,NaN,1215,705,65,False,NaN,NaN,NaN,richard.shapiro@enron.com,74
SHARP VICTORIA T,248146,3136,187469,1576511,281073,600000,213063,2477,NaN,494136,...,NaN,136,2401,6,False,NaN,NaN,422158,vicki.sharp@enron.com,24
SHELBY REX,211844,225,NaN,2003885,1624396,200000,869220,91,NaN,2493616,...,NaN,39,1573324,14,True,NaN,-4167,NaN,rex.shelby@enron.com,13
SHERRICK JEFFREY B,NaN,613,NaN,NaN,1426469,NaN,405999,583,NaN,1832468,...,NaN,25,NaN,18,False,NaN,NaN,NaN,jeffrey.sherrick@enron.com,39
SHERRIFF JOHN R,428780,3187,NaN,4335388,1835558,1500000,1293424,2103,NaN,3128982,...,NaN,92,1852186,23,False,NaN,NaN,554422,john.sherriff@enron.com,28
SKILLING JEFFREY K,1111258,3627,NaN,8682716,19250000,5600000,6843672,2042,NaN,26093672,...,NaN,108,22122,30,True,NaN,NaN,1920000,jeff.skilling@enron.com,88
STABLER FRANK,239502,NaN,NaN,1112087,NaN,500000,511734,NaN,NaN,511734,...,NaN,NaN,356071,NaN,False,NaN,NaN,NaN,frank.stabler@enron.com,NaN
SULLIVAN-SHAKLOVITZ COLLEEN,162779,NaN,181993,999356,1362375,100000,NaN,NaN,NaN,1362375,...,NaN,NaN,162,NaN,False,NaN,NaN,554422,NaN,NaN
SUNDE MARTIN,257486,2647,NaN,1545059,NaN,700000,698920,2565,NaN,698920,...,NaN,38,111122,13,False,NaN,NaN,476451,marty.sunde@enron.com,37
TAYLOR MITCHELL S,265214,533,227449,1092663,3181250,600000,563798,300,NaN,3745048,...,NaN,29,NaN,0,False,NaN,NaN,NaN,mitchell.taylor@enron.com,0
THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,362096,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,362096,NaN,False,NaN,NaN,NaN,NaN,NaN
THORN TERENCE H,222093,266,16586,911453,4452476,NaN,365320,73,NaN,4817796,...,NaN,41,426629,0,False,NaN,NaN,200000,terence.thorn@enron.com,0
TILNEY ELIZABETH A,247338,460,NaN,399393,591250,300000,576792,379,NaN,1168042,...,NaN,19,152055,11,False,NaN,-575000,275000,elizabeth.tilney@enron.com,10
TOTAL,26704229,NaN,32083396,309886585,311764000,97343619,130322299,NaN,-7576788,434509511,...,83925000,NaN,42667589,NaN,False,1398517,-27992891,48521928,NaN,NaN
UMANOFF ADAM S,288589,111,NaN,1130461,NaN,788750,NaN,41,NaN,NaN,...,NaN,18,NaN,0,False,NaN,NaN,NaN,adam.umanoff@enron.com,12
URQUHART JOHN A,NaN,NaN,NaN,228656,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,36666,-36666,NaN,NaN,NaN
WAKEHAM JOHN,NaN,NaN,NaN,213071,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,109298,NaN,NaN,NaN,NaN
WALLS JR ROBERT H,357091,671,NaN,1798780,4346544,850000,1552453,215,NaN,5898997,...,NaN,146,2,0,False,NaN,NaN,540751,rob.walls@enron.com,17
WALTERS GARETH W,NaN,NaN,53625,87410,1030329,NaN,NaN,NaN,NaN,1030329,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WASAFF GEORGE,259996,400,831299,1034395,1668260,325000,388167,337,NaN,2056427,...,NaN,30,1425,7,False,NaN,-583325,200000,george.wasaff@enron.com,22
WESTFAHL RICHARD K,63744,NaN,NaN,762135,NaN,NaN,384930,NaN,NaN,384930,...,NaN,NaN,401130,NaN,False,NaN,-10800,256191,dick.westfahl@enron.com,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,98718,NaN,NaN,NaN,NaN,98718,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
WHALLEY LAWRENCE G,510364,6019,NaN,4677574,3282960,3000000,2796177,3920,NaN,6079137,...,NaN,556,301026,24,False,NaN,NaN,808346,greg.whalley@enron.com,186
WHITE JR THOMAS E,317543,NaN,NaN,1934359,1297049,450000,13847074,NaN,NaN,15144123,...,NaN,NaN,1085463,NaN,False,NaN,NaN,NaN,thomas.white@enron.com,NaN
WINOKUR JR. HERBERT S,NaN,NaN,NaN,84992,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,False,108579,-25000,NaN,NaN,NaN
WODRASKA JOHN,NaN,NaN,NaN,189583,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,189583,NaN,False,NaN,NaN,NaN,john.wodraska@enron.com,NaN
WROBEL BRUCE,NaN,NaN,NaN,NaN,139130,NaN,NaN,NaN,NaN,139130,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN
YEAGER F SCOTT,158403,NaN,NaN,360300,8308552,NaN,3576206,NaN,NaN,11884758,...,NaN,NaN,147950,NaN,True,NaN,NaN,NaN,scott.yeager@enron.com,NaN
YEAP SOON,NaN,NaN,NaN,55097,192758,NaN,NaN,NaN,NaN,192758,...,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN